body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #333; /* Dark grey background */
    color: #fff; /* White text */
}

header {
    text-align: center;
    padding: 20px;
    background-color: #444; /* Slightly darker grey for header */
}

img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

#intro {
    margin-bottom: 40px;
}

#intro-text {
    text-align: center;
}

#projects {
    text-align: center;
}

.project-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    transition: transform 0.3s ease-in-out;
}

.project-card:hover {
    transform: scale(1.05);
}

.project-card a {
    text-decoration: none;
    color: #ddd;
}

.project-card h3 {
    margin-bottom: 10px;
}
.project-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    opacity: 0; /* Set initial opacity to 0 */
    transition: opacity 0.8s ease-in-out;
}

.project-card.show {
    opacity: 1; /* Set opacity to 1 for the fade-in effect */
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    opacity: 0; /* Set initial opacity to 0 */
    animation: slideIn 1s forwards; /* Use CSS animation for slide-in effect */
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

#intro {
    margin-bottom: 40px;
}

#intro-text {
    text-align: center;
}

a {
    color: #ffffff; /* Complementary color 1 */
}
a:hover {
    color:rgb(138, 150, 119)  ; /* Complementary color 2 on hover */
}
